/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url('refinery/application.css');

body {
  background: #DDD;
  font-family: Verdana;
  font-size: 13px;
  line-height: 18px;
}

#body_content, #side_body_content {
  float: left;
  width: 45%;
  background: white;
  color: #333;
  padding: 20px;
}

#menu{
    bottom: 20px;
    
    right: 5%;
    text-align: right;
    width: 390px;
}

#menu ul {
  list-style: none;
  padding: 0px;
}

#menu ul li {
  float: left;
  margin-right: 10px;
}

#menu ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

#menu ul li.selected a, #menu ul li a:hover {
  background: #CCC;
}

#page_container {
    width: 70%;
    margin: 0 auto;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px; 
  border-top-right-radius: 5px;
}

#body_content{
    width: 98.8%;
}

#header {
    margin: 0 auto;
    padding: 10px;
    text-align: right;
    width: 100%;
}
#header .logo {
    width: 25%;
;
}
#header .logo, .panel, .search{
    float: left;
}
#header .panel {
    text-align: right;
    width: 40%;
    margin-left:15%
}

#header .search {
    width: 20%;
    text-align: right;
    margin-top:1.33%
}
